/* Global */
header,
section,
footer,
nav {
    display: block;
}
html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

/* HEADER  */
header {
    width: 100%;
}
.header__content {
    height: 100px;
    justify-content: space-around;
    display: flex;
    margin-bottom: -20px;
}
.header__content a {
    color: rgba(247, 139, 16, 0.842);
    font-size: 1.5rem;
    padding: 20px 10px;
}
.header__content p {
    display: inline;
    padding: 25px 10px 20px;
    font-size: 15px;
}
.header__content p span {
    font-weight: bold;
    font-size: 20px;
}

.header__content a span {
    color: #05e4e4;
}
.header__content button {
    height: 40px;
    width: 160px;
    font-size: 1rem;
    padding: 5px 10px 10px;
    margin-top: 20px;
}

/* CAROUSEL  */
.swiper-container {
    display: block;
    width: 100%;
    height: 100%;
}
.carousel__items img {
    width: 100%;
}
.swiper__text {
    font-size: 0.7rem;

    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    text-align: left;
    bottom: 50%;
    left: 75%;
    top: 400px;
}
.swiper__text h3 {
    display: block;
    text-align: left;
    width: 300px;
}
.carousel__items p {
    text-align: left;
    display: inline;
}
.carousel__items img {
    position: relative;
}
.swiper__text {
    position: absolute;
    top: 140px;
}
.carousel__text {
    margin: 50px 15px 60px 0;
}
.button button {
    margin: 20px 10px 30px 0;
}
.swiper__text3{
    color: black;
}
.carousel__items{
    
    line-height: 1.9rem;
    width: 350px;
    
}
/* PROCESS  */
.process h2 {
    margin: 100px 0 50px;
    text-align: center;
}
.process__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 75%;
    margin: 0 auto;
}
.process__text img {
    display: block;
    width: 100%;
    height: 70%;
}
.process__items {
    position: relative;
}
.item__content {
    position: absolute;
    display: block;
    text-align: center;
    top: 400px;
    left: 17px;
}
.process__icon img {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.item__content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}
/* BANNER  */
.banner__content {
    position: relative;
}
.banner__content p {
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
    top: 100px;
    bottom: 50px;
    color: rgba(41, 41, 41, 0.973);
}
.banner__content p span {
    font-size: 1.8rem;
}
.banner__content img {
    width: 100%;
    height: 100%;
    display: block;
}
/* CONTACT */
.contact__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin: 0 auto;
}
.contact__address {
    font-size: 0.8rem;
    width: 400px;
    margin: 40px 0;
}
.contact__location {
    font-weight: bold;
}
.subcribe__input input {
    width: 250px;
}
.subcribe__input button {
    background-color: rgba(255, 72, 0, 0.788);
    color: white;
    border: none;
}
.introduction {
    margin: 15px 0;
    font-weight: bold;
}
.contact__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    margin: auto 0;
}
.option__item a {
    color: rgba(37, 37, 37, 0.842);
}
.contact_payments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: auto 0;
    padding: 20px 0;
}
.contact__payment img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 65%;
    height: 65%;
    justify-content: space-around;
}
.contact__payment a i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    color: rgba(255, 72, 0, 0.884);
    
}
.paypal__img {
    height: 52px;
}
/* FOOTER  */

footer {
    margin-bottom: 20px;
    background-color: black;
    padding: 10px;
}
.footer__content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-size: 0.7rem;
}
